.app {
    height: 100vh;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid #F3BC1B;
}

.app-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.books {
    width: 80%;
}

.books-list {
    display: flex;
    flex-flow: row wrap;
}

.book img {
    width: 200px;
    float: left;
}